# Quote API URL
QUOTE_URL=https://bot.lyo.su/quote/generate

# Sticker Pack Configuration
STICKER_PACK_NAME=Monologue
STICKER_PACK_AUTHOR=fdvky.me

CLIENT_ID=default
BOT_MODE="self_only" # Options: "self_only", "pub_only", "public"